@import "../../public.scss";

.main {
  .header_title {
    color: White;
    padding: 0 5vw;
    text-align: center;
    max-width: 750px;
    font-size: 4vw;
    font-family: Inter;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
  }
}
